# Uberon code owners (Guardians of the main branch)
# GitHub documentation about CODEOWNERS file - https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.yaml @matentzn
*uberon.Makefile @matentzn


#docs/*  action@github.com 
#docs/*  actions-user
