
!src/ontology/tmp/README.md
.DS_Store
*.tmp
*.tmp2
*.tmp.json
*.tmp.obo
*.tmp.owl
aminoacid.owl
basic-allcycles
basic-orphans
basic-orphans.tmp
basic.obo.tmp1
bfo-check.owl
bfo-check.txt
bin/
bridge-check-caro.owl
bridge-check-caro.txt
bridge-check-caro.txt.tmp
bridge-check-wbbt.owl
bridge-check-wbbt.txt
bridge-check-wbls.owl
bridge-check-wbls.txt
bridge/bridges
bridge/uberon-bridge-to-nifstd.obo.tmp
bridge/uberon-bridge-to-vhog.owl.ofn
bspo.owl
bundled-*.owl
chebi_import.obo
chebi.obo
chebi.owl
cl_import.obo
cl-core.obo
cl-with-xrefs.obo
cl-with-xrefs.obo.tmp
composite-brain.obo
composite-metazoan-basic.obo
composite-metazoan-dv.txt
composite-metazoan-dv.txt.tmp
composite-metazoan.obo
composite-metazoan.owl
composite-stages.obo
composite-vertebrate.obo
composite-vertebrate.owl
assert-equivalent-classes-module.owl
src/ontology/composite-metazoan-basic.json
src/ontology/composite-metazoan-basic.owl
src/ontology/composite-vertebrate-basic.json
src/ontology/composite-vertebrate-basic.obo
src/ontology/composite-vertebrate-basic.owl
src/ontology/ext.json
src/ontology/ext.obo
src/ontology/merged.obo
src/ontology/status.txt
developmental-stage-ontologies/
ext-obscheck.txt
ext-weak.owl
ext.owl.LOG
ext2.owl
extra-full-bridge-check-caro.txt
extra-full-bridge-check-caro.txt.tmp
fixed-*.obo
fixed-*.owl
full-bridge-check-caro.txt
full-bridge-check-caro.txt.tmp
full-bridge-check-wbbt.txt
full-bridge-check-wbbt.txt.tmp
full-bridge-check-wbls.txt
full-bridge-check-wbls.txt.tmp
go_import.obo
go.owl
GO.xrf_abbs
is_ok
local-*.obo
m1.owl
materialized.owl
materialized.owl.LOG
merged-cycles
merged-orphans
merged-orphans.tmp
merged-stages-xrefs.obo
merged-stages-xrefs.obo.tmp
metazoan-view.owl
mirror-*.obo
mirror-*.owl
mirror-caro.owl
mirror-wbbt.owl
mirror-wbls.owl
ncbitaxon_import.obo
ncbitaxon.obo
pato_import.obo
pato.owl
phenoscape-ext-noimports.owl
phenoscape-ext.owl
pr_import.obo
pr.owl
quick-bridge-check-caro.txt
quick-bridge-check-wbbt.txt
quick-bridge-check-wbls.txt
reports/stages-metazoan-report.tsv
reports/uberon_edit-object-properties.csv
ro_import.obo
ro_import.owl.tmp.owl
ro.owl
robot_main_diff.md
/run.sh
seed.obo
seed.obo.tmp
seed.owl
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*.obo
imports/*.obo
uberon-lastbuild.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-uberon-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/reports/*
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/*
src/ontology/uberon-base.*
src/ontology/uberon-basic.*
src/ontology/uberon-full.*
src/ontology/uberon-simple-non-classified.*
src/ontology/uberon-simple.*
src/ontology/uberon.json
src/ontology/uberon.obo
src/ontology/uberon.owl
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
taxon-constraint-check.txt
tmp/
trunk/
uberon_edit-cycles
old-uberon.owl
uberon_edit-obscheck.txt
uberon_edit-plus-tax-equivs.owl
uberon_edit-xp-check
uberon_edit-xp-check.err
uberon_edit.obo-gocheck
uberon_edit.obo-iconv
uberon_edit.owl
uberon_edit.owl.tmp
uberon-cycles
uberon-discv.txt
uberon-dv.txt
uberon-dv.txt.tmp
uberon-obscheck.txt
uberon-orphans
uberon-orphans.tmp
uberon-qc
uberon-synclash
uberon-taxmod-314146.owl
uberon-taxmod-314146.owl.log
uberon-taxmod-32524.owl
uberon-taxmod-32524.owl.log
uberon-taxmod-amniote.obo.tmp
uberon-taxmod-amniote.owl
uberon-taxmod-euarchontoglires.obo
uberon-taxmod-euarchontoglires.obo.tmp
uberon-taxmod-euarchontoglires.owl
uberon.obo.tmp1
unreasoned.owl
update-stages
*.LOG
*.tmp1
composite-metazoan.json
composite-vertebrate.json
src/ontology/BUILDLOGUBERON.txt
src/ontology/core.owl
src/ontology/ext.owl
src/ontology/unsat_all_explanation.md
src/ontology/merged_collect.owl
src/ontology/composite-metazoan-last-release.owl
src/ontology/basic.json
src/ontology/basic.obo
src/ontology/basic.owl
src/ontology/test_obo_serialiser.sh
src/ontology/uberon-edit.properties
src/ontology/.token
imports/*
basic.json
basic.obo
basic.owl
composite-metazoan.*
composite-metazoan-basic.*
composite-vertebrate.*
composite-vertebrate-basic.*
ext.json
ext.obo
ext.owl
uberon.json
uberon.owl
uberon-base.json
uberon-base.obo
uberon-basic.*
uberon-full.*
uberon-simple.*
patterns/definitions.owl
patterns/pattern.owl
subsets/*.json
subsets/*.obo
subsets/*.owl
subsets/*.tsv
src/ontology/subsets/*.json
src/ontology/subsets/*.obo
src/ontology/subsets/*.owl
src/ontology/subsets/*.tsv
